<li>
  <a routerLink="/query/query">QueryModule (micro frontend)</a>
</li>
<li>
  <a routerLink="/view">show data (base的router)</a>
</li>


<router-outlet></router-outlet>
<hr>
eventBusData => {{eventBusData}}
